# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.editorconfig
eslint.config.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
.github/workflows/ci.yml
